.h1 {
	font-family: var(--ff-neo);
	font-weight: bold;
	font-size: var(--fs-60);
	letter-spacing: var(--letter-spacing-light);
}

.h2 {
	font-family: var(--ff-neo);
	font-weight: medium;
	font-size: var(--fs-48);
	letter-spacing: var(--letter-spacing-light);
}

.h3 {
	font-family: var(--ff-neo);
	font-weight: normal;
	font-size: var(--fs-40);
	letter-spacing: var(--letter-spacing-light);
}

.h4 {
	font-family: var(--ff-rubik);
	font-weight: bold;
	font-size: var(--fs-30);
	letter-spacing: var(--letter-spacing-light);
}

.h5 {
	font-family: var(--ff-rubik);
	font-weight: medium;
	font-size: var(--fs-24);
	letter-spacing: var(--letter-spacing-light);
}

.h6 {
	font-family: var(--ff-rubik);
	font-weight: normal;
	font-size: var(--fs-18);
	letter-spacing: var(--letter-spacing-light);
}
