.radio {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: flex-start;
}

.radio::before {
	content: '';
	display: none;
}

.radio input[type='radio'] {
	position: absolute;
	opacity: 0;
}

.radio label {
	display: block;
	position: relative;
	z-index: 9;
	cursor: pointer;
	transition: 200ms ease;
	padding-left: calc(16px + 1em);
}

.radio .radio_check {
	display: block;
	position: absolute;
	border: 2px solid var(--cinza-medio-escuro);
	border-radius: 100%;
	height: 1em;
	width: 1em;
	z-index: 5;
	transition: 200ms ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.radio .radio_check::before {
	content: '';
	border-radius: 100%;
	height: 0.6em;
	width: 0.6em;
	margin: auto;
	transition: background 200ms ease;
}

/* hovers */

.radio:hover .radio_check {
	border: 2px solid var(--cinza-muito-escuro);
}

.radio:hover input[type='radio']:checked ~ .radio_check {
	border: 2px solid var(--amarelo-escuro);
}

.radio:hover input[type='radio']:checked ~ .radio_check::before {
	background: var(--amarelo-escuro);
}

.radio:hover label {
	color: var(--cinza-medio-escuro);
}

/* checked */

.radio input[type='radio']:checked ~ .radio_check {
	border: 2px solid var(--amarelo);
}

.radio input[type='radio']:checked ~ .radio_check::before,
.radio:hover input[type='radio']:checked:disabled ~ .radio_check::before {
	background: var(--amarelo);
}

/* focus */

.radio input[type='radio']:disabled ~ label {
	color: var(--cinza-medio);
	cursor: auto;
}

.radio input[type='radio']:disabled ~ .radio-check {
	border-color: var(--cinza-medio);
}

.radio input[type='radio']:checked:disabled ~ .radio-check,
.radio:hover input[type='radio']:checked:disabled ~ .radio-check {
	border-color: var(--amarelo);
	opacity: 0.5;
}

/* focus */

.radio input[type='radio']:focus ~ label {
	text-decoration: underline;
	text-underline-position: under;
}
