.select {
	-webkit-appearance: none; /* Remove estilo padrão do Chrome */
	-moz-appearance: none; /* Remove estilo padrão do FireFox */
	appearance: none; /* Remove estilo padrão do FireFox*/
	background-color: var(--amarelo);
	padding: 12px;
	border-radius: 5px;
	border: transparent;
	font-family: var(--ff-rubik);
	font-size: var(--fs-16);
}
